
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1459415888'); /* IE9*/
  src: url('iconfont.eot?t=1459415888#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1459415888') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1459415888') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1459415888#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chevron-down:before { content: "\e60b"; }
.icon-chevron-right:before { content: "\e60c"; }
.icon-weibo:before { content: "\e600"; }
.icon-weibo1:before { content: "\e601"; }
.icon-weixin:before { content: "\e602"; }
.icon-dianhua:before { content: "\e603"; }
.icon-tengxun:before { content: "\e604"; }
.icon-tengxunweibo:before { content: "\e605"; }
.icon-iconfont57:before { content: "\e606"; }
.icon-dianhua1:before { content: "\e607"; }
.icon-androidarrowdropleftcircle:before { content: "\e608"; }
.icon-androidarrowdroprightcircle:before { content: "\e609"; }
.icon-dizhi:before { content: "\e60a"; }
