@charset "utf-8";
body{
    overflow: hidden;
    background: #f5f5f5;
}
header{
    position: absolute;
    height: 50px;
    background: #1a96d5;
    width: 96%;
    top: 0;
    left: 0;
    padding:0 2%;
}
header i.iconfont{
    width: 10%;
    float: left;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
}
header h1{
    width: 78%;
    text-align: center;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font: 30px/50px "microsoft yahei";
    text-transform: uppercase;
}
header img{
    width: 10%;
    vertical-align: middle;
}
header i img{
    width: 30px;
    height: 26px;
    margin-top: 12px;
    margin-left: 36%;
}
.nav{
    position: absolute;
    width: 200px;
    height: 1000px;
    top: 0;
    right: -200px;
    z-index: 999;
    background: #545454;
}
.nav .nav_li {
    border-bottom: 1px solid #444444;
    border-top: 1px solid #3d3d3d;
}
.nav .nav_li a{
    font: 14px/48px "microsoft yahei";
    color: #ccc;
    display: block;
    padding-left: 15px;
}
.nav .nav_li a.up{
    background: url("../images/right.png") no-repeat 170px 15px;
    background-size: auto 35%;
}
.nav .nav_li a.down{
    background: url("../images/down.png") no-repeat 170px 15px;
    background-size: auto 35%;
}
.nav .nav_li .menu_li{
    background: #333;
    display: none;
}
.nav .nav_li .menu_li a{
    display: inline;

}




section{
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    overflow: auto;
}
footer{
    background: #006ead;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer ul li{
    width: 25%;
    float: left;
    font: 14px/20px "microsoft yahei";
    text-align: center;
    padding-top: 5px;
}
footer ul li a{
    color: #fff;
}
footer ul li i.iconfont{
    display: block;
    font-size: 20px;
}
.swiper-container {
    width: 100%;
    margin: 0 auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    max-width: 100%;
}
.about{
    background: #fff;
    margin-top: 10px;
    padding-bottom: 5px;
}
.title{
    padding: 5px;
    font: 16px/30px "microsoft yahei";
    color: #333;
}
.about img{
    max-width: 100%;
}
.text{
    font:12px/24px "microsoft yahei";
    color: #808080;
}
.about .text a{
    display: block;
    width: 40%;
    margin: 3px auto;
    border-radius: 3px;
    background: #1a96d5;
    font: 12px/24px "microsoft yahei";
    color: #fff;
    text-align: center;
    border: 1px solid #167db1;
}
.xiangmu ul li{
    display: inline-block;
    width: 31%;
    margin-left: 1%;
    position: relative;
}
.xiangmu ul li img{
    width: 100%;
}
.xiangmu ul li p{
    height: 20px;
    background: url("../images/menu_bg.png");
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
}
.xiangmu ul li p i{
    color: #fff;
    padding-right: 3px;
}
.xiangmu ul li p a{
    color: #fff;
}
.zhengshu{
    margin: 5px auto;
}
.zs {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.zs .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.zs .swiper-slide img{
    width: 100%;
}
.news ul li{
    border-bottom: 1px dotted #d0d0d0;
}
.news ul li a{
    font: 12px/30px "microsoft yahei";
    color: #828282;
    width: 75%;
    float: left;
}
.news ul li span{
    text-align: right;
    font: 12px/30px "microsoft yahei";
    color: #bdbdbd;
    width: 25%;
    float: right;
}

/*首页*/

header a{
    font:bold 30px/50px "宋体";
    color: #fff;
    width: 10%;
    float: left;
    display: inline-block;
    vertical-align: middle;
}

.page_about {
    margin: 10px auto;
    background: #fff;
    padding: 0 5px 10px;
}
.page_about h3{
    font: 20px/26px "microsoft yahei";
    color: #333;
}
/*单页*/
.product_tab{
    background: #1a96d5;
    margin: 5px auto;
}
.product_tab ul li{
    display: inline-block;
    vertical-align: middle;
    font: 12px/28px "microsoft yahei";
    text-align: center;
    width: 32%;
}
.product_tab ul li a{
    color: #fff;
}
.product_tab ul li.on a{
    background: url("../images/dian.png") no-repeat left center;
    padding-left: 20px;
}
.product ul li{
    margin: 10px auto;
    border: 1px solid #ccc;
}
.product ul li img{
    width: 40%;
    height: 139px;
    display: block;
    text-align: center;
    float: left;
}
.product ul li .text{
    width: 56%;
    padding: 0 2%;
}
.product ul li .text a{
    display: block;
    font: 14px/20px "microsoft yahei";
    color: #1a96d5;
    padding: 3px 0;
}
.page{
    margin: 20px auto;
    text-align: center;
}
.page a,.page span{
    font: 12px/24px "microsoft yahei";
    color: #333;
    border: 1px solid #ccc;
    padding: 2px 6px;
    margin: 0 2px;
}
.page span{
    color: #006ead;
    border-color: #006ead;
}
.list_art .text h3{
    font: 16px/30px "microsoft yahei";
    color: #333;
}
.list_art h2{
    margin: 10px auto;
    font: 18px/26px "microsoft yahei";
    color: #006ead;
    text-align: center;
}
.next_page{
    margin: 15px 10px;
}
.next_page p{
    font: 12px/30px "microsoft yahei";
    color: #333;
}
.next_page p a{
    color: #006ead;
}
.news_list ul li {
    margin: 10px auto;
}
.news_list ul li img{
    max-width: 40%;
    float: left;
}
.news_list ul li .text{
    width: 56%;
    padding: 2px 2%;
}
.news_list ul li .text a{
    font: 14px/24px "microsoft yahei";
    color: #006ead;
    display: block;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.news_art h5{
    font: 12px/24px "microsoft yahei";
    color: #666;
    text-align: center;
}
.news_art .text img{
    display: block;
    max-width: 100%;
    margin: 10px auto;
}
.shenqing {
    background: #fff;
    padding-top: 0.5rem;
}
.shenqing ul li{
    margin: 0 auto 10px;
    font: 12px/30px "microsoft yahei";
    position: relative;
}
.shenqing ul li input[type="text"]{
    width: 98%;
    height: 26px;
    outline: 0;
    border: 1px solid #ccc;
    padding: 0 1%;
}
.shenqing ul li textarea{
    height: 60px;
    width: 98%;
    resize: none;
    outline: 0;
    padding: 0 1%;
    border: 1px solid #ccc;
}
.shenqing ul li.sub,.shenqing ul li.res{
    width: 40%;
    margin-left: 5%;
    border: none;
    float: left;
}
.shenqing ul li.sub input,.shenqing ul li.res input{
    width: 100%;
    height: 30px;
    font: 12px/30px "microsoft yahei";
    outline: 0;
}
.shenqing ul li.sub input{
    border: none;
    color: #fff;
    background: #ef6940;
}
.shenqing ul li.res input{
    border: none;
    color: #666;
    background: #e5e5e5;
}
.shenqing ul li .dui{
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    display: none;
    background: url("../images/yes.png") no-repeat left center;
}
.shenqing ul li .cuo{
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    display: none;
    background: url("../images/no.png") no-repeat left center;
}